node_modules
.next
.turbo
out

.env
.env.*.local
.env.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

envato-template

.backups/*
!.backups/README.md

db_dump.sql
storage_data.tar.gz

# local build markers
laravel-app/BUILD_MARKER.txt
